    <div [@routerTransition]>
        <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nome do Cliente</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Data de Registro</th>
                        <th scope="col">Observação 1</th>
                        <th scope="col">Observação 2</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let receita of receitas">
                    <tr>
                        <td >{{receita.nome}}</td>
                        <td>{{receita.descricao}}</td>
                        <td>{{receita.setor}}</td>
                        <td>{{receita.data_registro | date:'dd-MM-yyyy'}}</td>
                        <td>{{receita.observacao1}}</td>
                        <td>{{receita.observacao2}}</td>
                    </tr>
                    </tbody>
                </table>
                        <nav aria-label="Page navigation example">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a class="page-link" (click)="setPage(1)">First</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                        </nav>
            </div>
        </div>
        <!-- /.row -->
    </div>
