<div [@routerTransition]>
    <app-page-header [heading]="'CONTAS A PAGAR'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <div class="card-header">
                Lista de Despesas
            </div>
            <table class=" table-responsive table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Número de Registro</th>
                        <th scope="col">Nome do Cliente</th>
                        <th scope="col">Valor da Compra</th>
                        <th scope="col">Data de Registro da Venda</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Observação 1</th>
                        <th scope="col">Observação 2</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
