    <div [@routerTransition]>
        <h2 class="text-muted">Dashboard <small>Estatísticas de Fluxo de Caixa (Últimos 30 dias)</small></h2>
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="totalReceitas" [label]="'Receitas'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="totalDespesas" [label]="'Desesas'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="lucroPrejuizo" [label]="'Lucro/Prejuízo'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Lucratividade'"></app-stat>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Receitas
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card-header">
                    Despesas
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-4">
                <div class="card mb-3">
                    <div class="card-header">
                        Despesas RH
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="card-header">
                    Despesas Logística
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="card-header">
                    Despesas Despesas Vendas
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Despesas Compras
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card-header">
                    Despesas Financeiro
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>

        <hr/>
    </div>
