<div [@routerTransition] >
    <app-page-header [heading]="'FLUXO DE CAIXA'" [icon]="'fa-desktop'"></app-page-header>
    <div class="container"><!-- Content here -->
        <div class="row">
            <div class="col-sm-5">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Data Início</label><br>
                        <div class="col-10">
                            <input  [(ngModel)]="data_inicio" class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        </div>
                    </div>
                <hr/>
            </div>
            <div class="col-sm-5">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Data Fim</label><br>
                        <div class="col-10">
                            <input [(ngModel)]="data_fim" class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        </div>
                    </div>
                <hr/>
            </div>
            <div class="col-sm-2">
                <form class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Gerar Relatório</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Receitas</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Despesas</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<form class="form-inline">
    <div class="form-group">
      <div class="input-group">

        <div class="input-group-append">

        </div>
      </div>
    </div>
  </form>
